
.wrap{
  width: 90vw;
  height: 20vh;
  padding: 20px;
  font-size: 35px;
  box-sizing: border-box;
}

.color1{
  color: white;
}

.color2{
  color: white;
}

.color3{
  color: white;
}

/***************************/

.wrap input{
  font-size: 20px;
  width: 60vw;
  height: 30px;
  background: silver;
  color: black;
  margin: 0;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
}

.wrap form{
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px 0 ;
}

.wrap a{
  margin: 0 20px;
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 20px;
}
