.wrap{
  box-sizing: border-box;
  padding: 50px;

  height: calc(100vh - 60px);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.main{
  margin: 0 auto;
}

.poster img{
  width: 30vw;
  border-radius: 10px;
  box-shadow: 10px 20px 30px grey;
}

.movie{
  display: flex;
  justify-content: center;
}

.info{
  padding: 0 50px;
  max-width: 50vw;
}

.title{
  margin-top: -25px;
  font-size: 5vw;
}

.tagline{
  margin-bottom: 50px;
  font-size: 36px;
}


/********************/

.color1 .adult{
  font-size: 36px;
  color: purple;
}
.color2 .adult{
  font-size: 36px;
  color: #d50000;
}

.color3 .adult{
  font-size: 36px;
  color: purple;
}

/*******************/

.budget,
.homepage,
.language,
.popularity,
.original_title,
.vote_average,
.release_date,
.revenue,
.overview,
.runtime,
.similar-title{
  font-size: 28px;
  margin-bottom: 8px;
}

.genres{
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.popularity,
.budget{
  margin-top: 50px;
}

/*****************/
.color1 a{
  color: indigo;
}

.color2 a{
  color: #de0000;
}
.color3 a{
  color: indigo;
}

/*****************/

.overview{
  margin-top: 75px;
  font-size: 32px;
}

.similar{
  width:90vw;
  margin:70px auto 0;
}

.similar-movies{
  margin-top: 20px;
  height: auto;
  display:flex;
  flex-wrap:wrap;
  column-gap: 1vw;
  row-gap: 30px;
  justify-content: space-between;

}


/***********************************/

.wrap::-webkit-scrollbar {
  width: 10px;
}

.color1::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.color1::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, blueviolet, indigo);
}

/**/

.color2::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #1f1f1f;
  border-radius: 10px;
}

.color2::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, red, #b20000);
}

/**/

.color3::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

.color3::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

/*****/

.color1{
  background: white;
  color: black;
}

.color2{
  background: #3b3b3b;
  color: white;
}

.color3{
  background: white;
  color: black;
}





