.wrap{
  box-sizing: border-box;
  padding: 50px;

  height: calc(100vh - 60px);
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}

.main{
  margin: 0 auto;
}

.poster img{
  width: 30vw;
  border-radius: 10px;
  box-shadow: 10px 20px 30px grey;
}

.movie{
  display: flex;
  justify-content: center;
}

.info{
  padding: 0 50px;
  max-width: 50vw;
}

.title{
  margin-top: -25px;
  font-size: 5vw;
}

.tagline{
  /*padding-left: 80px;*/
  /*font-style: italic;*/
  margin-bottom: 50px;
  font-size: 36px;
}

.adult{
  font-size: 36px;
  color: purple;
}

.budget,
.homepage,
.language,
.popularity,
.original_title,
.vote_average,
.release_date,
.revenue,
.overview,
.runtime,
.similar-title{
  font-size: 28px;
  margin-bottom: 8px;
}

.genres{
  margin-top: 40px;
}

.popularity,
.budget{
  margin-top: 50px;
}

.homepage a{
  color: indigo;
}

.overview{
  margin-top: 75px;
  font-size: 32px;
}

.similar{
  width:90vw;
  margin:70px auto 0;
}

.similar-movies{
  margin-top: 20px;
  height: auto;
  display:flex;
  flex-wrap:wrap;
  column-gap: 1vw;
  row-gap: 30px;
  justify-content: space-between;

}




