.wrap input{
  text-decoration: none;
  background: none;
  color: white;
  margin: 0;
  border: 2px solid ;
  border-radius: 5px;
  padding: 3px;
}

.wrap form{

}

.wrap a{
  color: white;
  text-decoration: none;
  font-style: italic;
  font-size: 16px;
}

