
.wrap{
  box-sizing: border-box;
  height: 60px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 5vw;
  justify-content: space-between;
  column-gap: 20px;
}

.logo{
  width: 300px;
}

.logo img{
  width: 125px;
}

.links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 40px;
}

.right{
  display: flex;
  align-items: center;
  column-gap: 20px;
}

a{
  color: white;
  font-size: 20px;
  text-decoration: none;
  background: none;
}

/******************/


.color1 a:hover{
  color: silver;
}

.color2 a:hover{
  color: white;
}

.color3 a:hover{
  color: silver;
}

/****************/

.color1 .active{
  color: silver;
  text-decoration: underline;
}

.color2 .active{
  color: red;
  text-decoration: underline;
}

.color3 .active{
  color: darkviolet;
  text-decoration: underline;
}

/******************/

.color1{
  background: indigo;
  color: white;
  font-size: 20px;
}

.color2{
  background: #1f1f1f;
  color: white;
  font-size: 20px;
}

.color3{
  background: indigo;
  color: white;
  font-size: 20px;
}



