<div class="wrap color1">
  <div class="logo">
    <img src="https://www.themoviedb.org/assets/2/v4/logos/v2/blue_short-8e7b30f73a4020692ccca9c88bafe5dcb6f8a62a4c6bc55cd9ba82bb2cd95f6c.svg" alt="The movie data base">
  </div>

  <div class = 'links'>
    <div><a routerLink="home" routerLinkActive="active" class="color1">Home</a></div>
    <div><a routerLink="movies/-1" routerLinkActive="active" class="color1">Movies</a></div>
    <app-genres></app-genres>
  </div>

  <div>
    <app-search></app-search>
  </div>
</div>
